* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  transition: 0.3s;
  border: none;
  outline: none;
}
:root 
{
  --light-blue: #7857ff;
  --blue: #2e2be9;
  --bluealfa1: #4e21ca00;
  --bluealfa0: #4e21ca;
  --background-clr: #ecf2ff;
  --white-clr: #fff;
  --black-clr: #000;
  --red-clr: #ff5555;
  --yellow-clr: #ffb21e;
  --green-clr: #00bb8f;
  --blue-clr: #1125d6;
  --dark-navy: #303b59;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-500: 500;
  --font-weight-400: 400;
}
body 
{
  height: 100%;
  background-color: var(--background-clr);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container 
{
  width: 736px;
  top: 50%;
  left: 50%;
  padding: 0;
  background-color: var(--white-clr);
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 32px;
}
.flex 
{
  display: flex;
  justify-content: space-between;
}
.result 
{
  background: linear-gradient(to bottom, var(--light-blue), var(--blue));
  width: 50%;
  border-radius: 32px;
  padding: 38px 54px 46px 54px;
  text-align: center;
}
.circle 
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 36px;
  margin-bottom: 28px;
  background: linear-gradient(to bottom, var(--bluealfa0), var(--bluealfa1));
  position: relative;
  text-align: center;
}
.circle-box 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle p:nth-child(1) 
{
  color: var(--white-clr);
  font-weight: var(--font-weight-800);
  font-size: 72px;
  display: block;
}
.circle p:nth-child(2) 
{
  color: #cac9ff;
  font-size: 18px;
  display: block;
}
.container h3 {
  color: #cac9ff;
  font-size: 24px;
  font-weight: var(--font-weight-700);
}
.container .summary h3 
{
  color: var(--black-clr);
  margin-bottom: 28px;
}
.container .result b 
{
  font-size: 32px;
  font-weight: 700;
  color: var(--white-clr);
  margin-bottom: 20px;
}
.container p.text 
{
  color: #cac9ff;
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight-500);
}
.summary 
{
  width: 50%;
  border-radius: 32px;
  padding: 38px 40px 46px 40px;
  box-shadow: 0 30px 60px 0 #3d6cec24;
  background-color: var(--white-clr);
}
.summary .rows 
{
  flex-direction: column;
  gap: 16px;
}
.row {
  border-radius: 10px;
}
.row .right-cont p 
{
  color: gray;
  font-weight: var(--font-weight-700);
  font-size: 18px;
}
.row .right-cont b 
{
  color: #303b59;
  font-size: 18px;
  font-weight: var(--font-weight-700);
  margin-right: 8px;
}
.row .left-cont,
.row,
.row .right-cont 
{
  align-items: center;
}
.summary .row 
{
  padding: 18px;
}
.row .left-cont 
{
  gap: 12px;
}
.row .left-cont b 
{
  font-size: 18px;
  font-weight: var(--font-weight-500);
}
.row .icon-1 {
  color: var(--red-clr);
}
.row .icon-2 {
  color: var(--yellow-clr);
}
.row .icon-3 {
  color: var(--green-clr);
}
.row .icon-4 {
  color: var(--blue-clr);
}
.summary .row:nth-child(1)
{
  background-color: #ff55552e;
}
.summary .row:nth-child(2) 
{
  background-color: #ffb01e2e;
}
.summary .row:nth-child(3) 
{
  background-color: #00bb8f2e;
}
.summary .row:nth-child(4) 
{
  background-color: #1125d62e;
}
button {
  width: 100%;
  background-color: #303b59;
  margin-top: 40px;
  height: 56px;
  color: var(--white-clr);
  font-size: 18px;
  font-weight: var(--font-weight-700);
  border-radius: 128px;
}
button:hover {
  background: linear-gradient(to bottom, #7755ff, #6943ff, #2f2ce9);
}
@media screen and (max-width: 742px) 
{
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 154px;
  }
  .summary {
    width: 100%;
  }
  .result {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media screen and (max-width: 426px) 
{
  .summary {
    padding: 30px;
  }
}
